*{
    box-sizing: border-box;
    
    position: relative;
    margin:  auto;
}
header {
    height:50px;
    background-color: rgb(242, 248, 248);
    margin-bottom: 25px;
}
body {
    background-color: rgb(11, 202, 240);
}
input {
   display: block;
   margin-left: auto;
   width: 40%;
   height: 35px;
   border-color: lightgrey;
   border-radius: 5px ;
   padding-left: 15px;
}
.thumb {
    margin: 20px;
}
.gallery {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }







