*{
    box-sizing: border-box;
    background-color: rgb(241, 243, 242);
    position: relative;
    margin:  auto;
}
header {
    height:50px;
    background-color: cadetblue;
    margin-bottom: 25px;
}
input {
   display: block;
   margin-left: auto;
   width: 500px;
   height: 35px;
   border-color: lightgrey;
   border-radius: 5px ;
   padding-left: 15px;
}
img {
    margin: 20px;
  
}
.gallery {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }
data-title {
    color: black;
}