*{
    box-sizing: border-box;
    
    position: relative;
    margin:  auto;
}
header {
	text-align: center;
    height: 200pxpx;
	background: silver;
    margin-bottom: 25px;
	font-family: Langar;
	font-size: 2em;
	
}
header p {
	color: black;
	padding: 10px;
	font-weight: 900;
	margin-bottom: 2em;
}
body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
input {
   display: block;
   margin-left: auto;
   width: 40%;
   height: 35px;
   border-color: lightgrey;
   border-radius: 5px ;
   padding-left: 15px;
}

.thumb {
    margin: 20px;
	border: 2px solid grey;
}
.gallery {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   }







